```bash
# Database
DATABASE_URL="postgresql://user:password@localhost:5432/booking_saas"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-in-production-min-32-chars-long-secret-key"

# OAuth Google (optionnel)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
```